* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  box-sizing: border-box;
}

@mixin bp($point) {
  @if $point == smallScreen {
    @media (max-width: 1200px) { @content; }
  } @else if $point == tablet {
    @media (max-width: 768px) { @content; }
  } @else if $point == mobile {
    @media (max-width: 520px) { @content; }
  } @else if $point == smallMobile {
    @media (max-width: 375px) { @content; }
  }
}

html,
body,
#root {
  height: 100vh;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
  color: #9dcbf7;

  @include bp(smallScreen) {
    font-size: calc(4px + 1vw);
  }

  @include bp(tablet) {
    font-size: calc(10px + 1vw);
  }
};

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p, span {
  font-size: 1rem;
}
